body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #ffffff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2em;
}

.btn-logout {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button-group button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.totals {
    font-weight: bold;
}


p {
    color: #2c3e50;
  margin-top: 15px;
  padding-left: 8rem;
    font-weight: 600;
    font-size: medium;

}
h3{
 
    color: #2c3e50;
    text-align: center;
    font-weight: 600;

}